// font-family: 'Work Sans', sans-serif;
// font-family: 'Cardo', serif;

$color-primary-light: rgb(61,80,84);
$color-primary-dark:  rgb(52,72,71);
$color-white:#fff;
$color-grey:#777;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

// dfont-size
$default-font-size:1.6rem;

// Colors-for-1st section
$color-primary-1:#e4b394;
$color-primary-2:rgb(157, 227, 234);
$color-primary-3:rgb(204,153,125);

// Colors-for-2nd section
$color-icon-2:#dd59a4;
$color-icon-1:#e2909a;

// colors for 3rd section
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-quarternary-light:#7ed56f;
$color-quarternary-dark:#28b485;

// grid-parameters
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;

